@model  LaudaMusicam.Models.HomePageModel

@{
    ViewBag.Title = "Home";
    var utcNow = DateTime.UtcNow;
}

    <article id="introBlock">
        <h1 style="margin-top: 30px">Lauda Musicam PlayDate</h1>
        <h2 style="margin-top: 0px">October 22, 2022</h2>
        <article class="subContentBlock" style="margin-top: 20px">
            <p>
                Lauda Musicam of Atlanta once again offers a fall PlayDate for Renaissance instruments at the workshop of George Kelischek in Brasstown, North Carolina.
                This beautiful mountain retreat serves as a picturesque background for making music with three playing sessions, lunch on the grounds, and an opportunity to shop at the Kelischek store.
            </p>
            <p>
                Click <a href="@Url.Content("~/flyers/PlayDateKelischek2022.pdf")">HERE</a> to see the full schedule.
                Check-in is at 9:30 a.m. and the day ends at 4:00 p.m.
                The day includes a reed adjustment workshop and playing session for those interested in crumhorns, cornamusen, Kelhorns, cortholts, and other capped reed instruments.
                Some instruments will be available to lend.
                All Renaissance instruments invited!
            </p>
            <p>
                The PlayDate is free to Lauda Members or $20 to non-members.
                Non-members can pay on site, or support Lauda Musicam by becoming a full member today!
            </p>
            <p>
                Register for the Kelischek PlayDate by clicking <a href="https://forms.gle/wGynUpRBskhr2tgbA">HERE</a>.
                We look forward to seeing our friends there.
                Please contact us if you have questions.
            </p>
        </article>

        <h1>About Us</h1>
        <article class="subContentBlock" style="margin-top: 20px">
            Lauda Musicam of Atlanta is a group of early music enthusiasts performing concerts throughout the year,
            as well as enriching the church services at St. Bartholomew’s Episcopal Church,
            where the group is an ensemble-in-residence.
            In response to the COVID-19 pandemic, the ensemble met virtually from September 2020 through May 2022,
            but still continued to grow with more members than ever before!
            Moving forward, online rehearsal options will continue,
            while in-person rehearsals resume in anticipation of presenting crowd-pleasing concerts to our fans.
            &nbsp;&nbsp;<a href="@Url.Content("~/about")">More...</a>
        </article>

        <h1>Lauda Musicam's 2022-23 Concert Season</h1>
        <article class="subContentBlock" style="margin-top: 20px">
            Lauda Musicam of Atlanta enters its 14th season with both in-person and virtual rehearsal options.
            We invite our local Atlanta musicians as well as musicians from afar as we learn music from the Medieval,
            Renaissance, and Baroque periods.
            In-person participants will meet weekly on Monday evenings, 7:00-8:30
            at St. Bartholomew's Episcopal Church in Atlanta;
            online participants will meet weekly on Tuesday evenings, 7:00-8:30 Eastern Time,
            via Zoom video conferencing platform.
            Online participants will be given the opportunity to come join the in-person group for an extended rehearsal
            the weekend of each concert and perform that concert with us.
            For more information, contact Lauda Musicam director Jody Miller at
            <a href="mailto:recorder96@gmail.com">recorder96@gmail.com</a>.
            For more information about Jody, visit his website at <a href="https://www.fippleflute.com/">www.fippleflute.com</a>.
        </article>

        <article class="subContentBlock" style="margin-top: 30px">
            Click <a href="https://forms.gle/yypPcWL6fRfUyZb17">HERE</a> to complete a membership form.
            See the bottom of this webpage for payment options.
        </article>
    </article>
<div class="eventsBlock">
    @if (utcNow < DateTime.Parse("2020-01-27"))
    {
    <h1>Upcoming Workshops</h1>
    <article class="subContentBlock">
        <div style="padding-bottom: 4px">Atlanta Early Music Alliance - <a href="https://www.atlema.org/index.php/13-hosted/7-mid-winter-workshop">The 17th Annual Mid-Winter Workshop</a></div>
        @{
            var dt = DateTime.Parse("2020-01-24T15:00");
            var dtEnd = DateTime.Parse("2020-01-26T15:00");
            <div class="eventDate">@dt.ToString("D") - @dtEnd.ToString("D")</div>
        }
        
        <div class="eventAddress">McCleskey Middle School, 4080 Maybreeze Road, Marietta, GA 30066</div>
    </article>
            }
    @*
    <h1>Upcoming Concerts</h1>
    *@
 
    @{        
        if (utcNow > DateTime.Parse("2019-02-01") && utcNow < DateTime.Parse("2020-03-02"))
        {
        <h2 style="padding-left: 20px">Affiliated Group Concerts</h2>
        <article class="subContentBlock">
            <div style="padding-bottom: 4px">Amethyst Baroque Ensemble - <a href="https://www.amethystbaroque.com/">Flye Care and Anguish</a></div>
            <div style="margin: 0 auto; padding-bottom: 4px">
                <div style="font-size: smaller; margin-left: 20px">
                    The time of the English Restoration not only brought political changes and an expansion of trade, but also a surge in literary and artistic works.  While the German-born George Frideric Handel was one of the leading composers of the period, English composers such as Henry Purcell, John Blow, and Thomas Arne were creating iconic English works for ballad operas and the theater, solidifying England’s role in entertaining the masses who hungered to be both listeners and performers.  From the lute songs of Thomas Campion to Arne’s “Rule Britannia,” the English helped popularize music through the formation of choral societies, private in-home performances, and music festivals.
                </div>
            </div>
            @{
                var dt2 = DateTime.Parse("2020-02-29T19:30");
                <div class="eventDate" style="margin-top: 10px">@dt2.ToString("D")<text>&nbsp;&nbsp;</text>@dt2.ToString("t")</div>
            }
            <div class="eventAddress">University of North Georgia, Shott Hall, Nix Fine Arts Center. 238 Georgia Circle, Dahlonega, Georgia 30597</div>
            @{
                var dt3 = DateTime.Parse("2020-03-01T15:00");
                <div class="eventDate" style="margin-top: 10px">@dt3.ToString("D")<text>&nbsp;&nbsp;</text>@dt3.ToString("t")</div>
            }
        <div class="eventAddress">Morningside Presbyterian Church. 1411 N Morningside Dr NE, Atlanta, Georgia, 30306</div>
        </article>
        <h2 style="padding-left: 20px">Lauda Musicam Concerts</h2>
        }
    }
    <div class="subContentBlock">
        @Html.Partial("_EventList1", Model.Events)
    </div>
</div>
<div style="display: none">
    <h1>Donations</h1>
    <div class="subContentBlock">
        Visit <a href="https://www.yourcause.com/charities.aspx?CharityID=2192708" target="_blank">www.yourcause.com</a> to donate to Lauda Musicam of Atlanta. Make your contribution to us using your major credit card. Don't forget that donations are tax-deductible!
    </div>
</div>
<div class="joinNowJumbotron" style="display: none">
    <a class="joinNowLink" href="@Url.Content("~/dues")">Join Lauda Musicam today.</a>
    <div style="text-align: right">
        <a class="joinNowLink" href="@Url.Content("~/dues")">Click here to become a member.</a>
    </div>
</div>